@font-face {
    font-family: 'Teletext';
    src: url('TeletestItems/Fonts/Teletext-regular.woff2') format('woff2'),
        url('TeletestItems/Fonts/Teletext-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

html, body{
    background-color: black;
    color: white;
    font-smooth: never;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-font-smoothing : none;
    margin: 0;
    padding: 0;
}


img{
    image-rendering: pixelated;
}

pre{
    margin: 0 0;
    padding: 0 0;
    
    
}

p, label, input, li, ul, button{
    font-family: "Teletext";
    font-size: 20pt;
    
}

h1, h2, h3, h4, h5, h6{
    font-family: "Teletext";
}

.ttebox{
    display: inline-block;

    margin-left: 20px;
    vertical-align: top;

}

.header{
    height: 40px;
    width: 100%;
    background-color: cornflowerblue;
    vertical-align: 0px;
}

ul{
    list-style-type: square;
}
